<form onsubmit="window.location = 'http://localhost:3000/product/' + id.value; return false;">
    <p style="display: inline;">Ingresa el ID de un producto</p>
    <input id="id" type="text" name="id" placeholder="Ingrese ID">
    <input type="submit" value="Buscar">
</form>