<div id="messagesPool"></div>
<form id="messageForm" style="margin-top: 1em">
    <input id="usernameInput" type="email" placeholder="Ingrese su e-mail" />
    <input id="messageInput" type="text" placeholder="Mensaje" />
    <input type="submit" value="Enviar" />
</form>