<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: green;color: white;">
        <h1>USER OK LOGIN!</h1>
        <h2><i>Bienvenido {{username}}</i></h2>
        <form action="/logout" method="get">
            <input class="btn btn-danger my-5" type="submit" value="LOGOUT">
        </form>
    </div>
</div>