<% if(products.length) { %>
<ul>
  <% products.forEach(product => {%>
  <li>
    <ul>
      <li>Title: <%= product.title %></li>
      <li>Price: <%= product.price %></li>
      <li>Stock: <%= product.stock %></li>
      <li>Stock: <%= product.stock %></li>
    </ul>
  </li>
  <% }) %>
</ul>
<% } else { %>
<h1>No hay datos :(</h1>
<% } %>
