<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tienda</title>
  </head>
  <body>
    <button id="formButton">Cargar producto</button>
    <ul>
      <% products.forEach(product => { %>
      <li>
        <p>Nombre: <%= product.name %></p>
        <p>Price: <%= product.price %></p>
        <img src="<%=product.thumbnail%>" width="50" />
      </li>
      <%})%>
    </ul>

    <script>
      const formButton = document.getElementById("formButton");

      formButton.addEventListener("click", (event) => {
        window.location = "/";
      });
    </script>
  </body>
</html>
