<h1>Carga tu producto</h1>

<form id="productForm">
    <input id="productInput" type="text" name="title" placeholder="Nombre de producto">
    <input id="priceInput" type="number" id="price" name="price" placeholder="Precio">
    <input id="imgInput" type="text" name="thumbnail" placeholder="Url de la imagen">
    <input type="submit">
</form>
<div id="productsContainer"></div>
{{> chat}}


